@font-face {
    font-family: 'latoblack';
    src: url('../fonts/Lato/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'latobold';
    src: url('../fonts/Lato/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'latohairline';
    src: url('../fonts/Lato/lato-hairline-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'latolight';
    src: url('../fonts/Lato/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'latoregular';
    src: url('../fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
