.menu {
    flex: 0 0 210px;
    align-self: stretch;
    margin: 8px;
    padding: 8px 0px;
    box-shadow: 0px 0px 5px 0px rgba($black, 0.3);

    .menu-section {
        .menu-title {
            padding: 0px 5px;
            padding-bottom: 8px;
            margin: 0px;
            font-size: 18px;
            color: $blue;
            border-bottom: 1px solid $blue;
        }

        .menu-list {
            padding: 5px;
        }
    }


    .menu-tags {
        .tag {
            margin: 8px 0px;
        }
    }
}
