.menu {
    flex: 0 0 50px;
    align-self: stretch;
    background-color: $grey;
    border-right: 1px solid $strong-grey;

    .menu-section {
        .menu-title {
            padding: 10px 0px;
            margin: 0px 12px;
            font-size: 18px;
            color: $blue;
            border-bottom: 1px solid $strong-grey;

            .form-tag {
                float: right;
                height: 25px;
                width: 25px;
                text-align: center;

                .form-tag-open {
                    font-size: 24px;
                    color: $strong-grey;
                    text-decoration: none;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }

        .menu-list {
            padding: 8px 0px;

            .menu-item {
                padding: 8px 12px;
                cursor: pointer;

                &:hover {
                    background-color: $light-grey;

                    a, span {
                        color: $blue;
                    }
                }

                &.selected {
                    background-color: $lighter-blue;

                    a, span {
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media ('min-width:1280px') {
    .menu {
        flex-basis: 250px;
	}
}
@media ('min-width:1440px') {
    .menu {
        flex-basis: 300px;
    }
}
