.menu {
    flex: 0 0 250px;
    align-self: stretch;
    background-color: $grey;
    border-right: 1px solid $strong-grey;

    .menu-section {
        .menu-title {
            padding: 10px 0px;
            margin: 0px 12px;
            font-size: 18px;
            color: $blue;
            border-bottom: 1px solid $strong-grey;
        }

        .menu-list {
            padding: 8px 0px;

            .menu-item {
                padding: 8px 12px;
                cursor: pointer;

                &:hover {
                    background-color: $light-grey;

                    a, span {
                        color: $blue;
                    }
                }

                &.selected {
                    background-color: $lighter-blue;

                    a, span {
                        color: #fff;
                    }
                }
            }
        }
    }
}
