.task {
	position: relative;
	margin: 0px 1px 0px 1px;
	background-color: $grey;
	padding: 5px 10px 5px 25px;
	min-height: 70px;
	box-shadow: 1px 1px 3px -1px $black;

	.actions {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 20px;
		padding: 5px 5px;
		height: 100%;

		* {
			display: block;
			width: 10px;
			margin-bottom: 5px;
		}
		
		.delete {
			text-align: center;
			line-height: 1rem;
			cursor: pointer;
			color: $dark;

			&:hover {
				color: $blue;
			}
		}

		.tag {
			width: 11px;
			height: 11px;
			border: 1px solid $blue;
			background-color: $grey;
			border-radius: 15px;
			cursor: pointer;
		}
	}
}