.task {
	flex: 0 1 auto;
	@include setTaskWidth();
	margin-bottom: 10px;
	margin-left: $taskMargin;
	margin-right: $taskMargin;
	background-color: #fff;
	box-shadow: 0px 0px 3px 0px rgba($black, 0.3), 0px 2px 5px 0px rgba($black, 0.3);
	border-radius: 3px;

	.header {
		min-height: 30px;
		padding: 5px;

		.delete {
			float: right;
			display: inline-block;
			margin-right: -10px;
			height: 25px;
			width: 25px;
			color: black;
			font-size: 20px;
			text-decoration: none;

			&:hover {
				color: $blue;
			}
		}
	}

	.content {
		min-height: 78px;
		padding: 10px 15px;
		border-top: 1px solid rgba($black, 0.3);
		border-bottom: 1px solid rgba($black, 0.3);

		.title {
			font-size: 20px;
			color: rgba($dark, 0.9);
		}
	}

	.footer {
		min-height: 30px;
		padding: 5px;

		.actions {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 20px;
			padding: 5px 5px;
			height: 100%;

			* {
				display: block;
				width: 10px;
				margin-bottom: 5px;
			}

			.delete {
				text-align: center;
				line-height: 1rem;
				cursor: pointer;
				color: $dark;

				&:hover {
					color: $blue;
				}
			}

			.tag {
				width: 11px;
				height: 11px;
				border: 1px solid $blue;
				background-color: $grey;
				border-radius: 15px;
				cursor: pointer;
			}
		}
	}
}

@media ('max-width:1440px') {
	.task {
		@include setTaskWidth(5);
	}
}
@media ('max-width:1280px') {
	.task {
		@include setTaskWidth(4);
	}
}
@media ('max-width:980px') {
	.task {
		@include setTaskWidth(2);
	}
}
@media ('max-width:680px') {
	.task {
		@include setTaskWidth(1);
	}
}
