.task {
	flex: 0 1 auto;
	@include setTaskWidth(1);
	margin-bottom: 10px;
	margin-left: $taskMargin;
	margin-right: $taskMargin;
	background-color: #fff;
	box-shadow: 0px 0px 3px 0px rgba($black, 0.3), 0px 2px 5px 0px rgba($black, 0.3);
	border-radius: 3px;

	.task-header {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		min-height: 10px;
		padding: 5px;

		.delete {
			display: inline-block;
			height: 20px;
			width: 20px;
			color: black;
			line-height: 20px;
			font-size: 20px;
			text-align: center;
			text-decoration: none;

			&:hover {
				color: $blue;
			}
		}
	}

	.task-content {
		min-height: 78px;
		padding: 10px 15px;
		border-top: 1px solid rgba($black, 0.3);
		border-bottom: 1px solid rgba($black, 0.3);

		.title {
			cursor: pointer;
			font-size: 20px;
			color: rgba($dark, 0.9);
			text-decoration: none;

			&:hover {
				color: $blue;
			}
		}
	}

	.task-footer {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		min-height: 10px;
		padding: 5px;

		.time {
			align-items: flex-end;
			font-size: 12px;
			color: $strong-grey;
		}

		.actions {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 20px;
			padding: 5px 5px;
			height: 100%;

			* {
				display: block;
				width: 10px;
				margin-bottom: 5px;
			}

			.delete {
				text-align: center;
				line-height: 1rem;
				cursor: pointer;
				color: $dark;

				&:hover {
					color: $blue;
				}
			}

			.tag {
				width: 11px;
				height: 11px;
				border: 1px solid $blue;
				border-radius: 15px;
				cursor: pointer;
			}
		}
	}
}

@media ('min-width:980px') {
	.task {
		@include setTaskWidth(2);
	}
}
@media ('min-width:1280px') {
	.task {
		@include setTaskWidth(3);
	}
}
@media ('min-width:1440px') {
	.task {
		@include setTaskWidth(4);
	}
}
