// Colors
$yellow: #FDF200;
$grey: #F5F5F5;
$blue: #0277BD;
$dark: #424242;
$black: #333333;
$strong-grey: rgba($dark, 0.4);
$light-grey: rgba($dark, 0.1);
$light-blue: rgba($blue, 0.8);
$lighter-blue: rgba($blue, 0.4);

// Task
$taskMargin: 5px;
