@import 'variables';
@import 'task';
@import 'tag';

body {
	margin: 0;
}

header {
	padding: 5px 5px;
	background-color: $dark;
	box-shadow: 0px -3px 4px -3px rgba(#fff, 0.7) inset;

	h1 {
		display: inline-block;
		padding: 0px 5px;
		font-size: 18px;
		color: $blue;
	}
}

.toolbar {
	display: flex;
	padding: 20px 5px;
	border-bottom: 1px solid rgba($black, 0.3);
	box-shadow: 0px 2px 5px 0px rgba($black, 0.3);

	.form {
		margin: 0px 5px;

		input {
			display: inline-block;
			height: 30px;
			line-height: 30px;
			padding: 0px 5px;
			color: rgba($black, 0.7);
			background-color: rgba($black, 0.02);
			border: 1px solid rgba($black, 0.3);
			outline: none;
			transition: color 0.5s ease-out, border-color 0.5s ease-out, background-color 0.5s ease-out;

			&:focus {
				color: $blue;
				background-color: #fff;
				border-color: $blue;
			}

			&[type="button"], &[type="submit"] {
				height: 32px;
				margin: 0px 5px;
				background-color: $blue;
				color: #fff;
				border: none;
				cursor: pointer;
				text-transform: uppercase;

				&:hover {
					background-color: $dark;
				}
			}
		}

		&.taskForm {
			input[type="text"] {
				width: 200px;
			}
		}

		&.searchForm {

			input[type="text"] {
				width: 200px;
			}
		}
	}
}

.tasks {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 5px;
	margin: 0px;
	width: 100%;
	font-size: 0px;
}
