@import 'variables';
@import 'mixins';
@import 'task';
@import 'tag';
@import 'color-selector';

body {
	margin: 0;
}

header {
	padding: 5px 5px;
	background-color: $dark;
	box-shadow: 0px -3px 4px -3px rgba(#fff, 0.7) inset;

	h1 {
		display: inline-block;
		padding: 0px 5px;
		font-size: 18px;
		color: $blue;
	}
}

.toolbar {
	display: flex;
	padding: 20px 5px;
	border-bottom: 1px solid rgba($black, 0.3);
	box-shadow: 0px 2px 5px 0px rgba($black, 0.3);

	.form {
		margin: 0px 5px;

		input[type="text"] {
			display: inline-block;
			height: 30px;
			width: 200px;
			line-height: 30px;
			padding: 0px 5px;
			border: none;
			color: $blue;
			border-bottom: 1px solid $blue;
			outline: none;
			font-size: 14px;
			transition: font-size 0.5s ease-out, color 0.5s ease-out, border-color 0.5s ease-out, background-color 0.5s ease-out;
			vertical-align: middle;

			&:focus {
				font-size: 16px;
			}
		}

		input[type="button"], input[type="submit"] {
			display: inline-block;
			height: 32px;
			margin: 0px 5px;
			color: $blue;
			border: none;
			border: 1px solid $blue;
			background: none;
			cursor: pointer;
			text-transform: uppercase;
			outline: none;
			transition: font-size 0.5s ease-out, color 0.5s ease-out, border-color 0.5s ease-out, background-color 0.5s ease-out;
			vertical-align: middle;

			&:hover {
				background: $blue;
				color: $black;
			}
		}

		&.searchForm {
			margin-left: 50px;

			input[type="text"] {
				width: 300px;
			}
		}
	}
}

.tasks {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 5px;
	margin: 0px;
	font-size: 0px;
}
